.git__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
}

@media (max-width: 768px) {
  .git__title {
    font-size: 30px;
    line-height: 34px;
    max-width: 336px;
  }
}

@media (max-width: 768px) {
  .git__title {
    font-size: 30px;
    line-height: 40px;
    max-width: 336px;
  }
}