.result__link {
  font-family: 'Roboto', Arial, sans-serif;
  color: #1A1B22;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.result__link:hover {
  background: #C4C4C4;
}



