.search__error {
  font-family: 'Roboto Slab', Arial, Helvetica, Helvetica, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #d0ff00;
  position: absolute;
  top: 64px;
  left: 30%;
  display: none;
}

@media (max-width: 414px) { 
  .search__error {
    top: 55px;
    left: 15%;
    color: #d0ff00;
  } 
}
