.git__link {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #1A1B22;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  padding: 13px 20px 0 0;
}

.git__link:hover {
  background: #C4C4C4;
}

@media (max-width: 320px) {
  .git__link {
    display: none;
  }
}