@import url('./__image/author__image.css');
@import url('./__content/author__content.css');
@import url('./__title/author__title.css');
@import url('./__description/author__description.css');


.author {
  background-color: #FFFFFF;;
  display: flex;
}

@media (max-width: 1024px) { 
  .author  {
    padding-bottom: 20px;
  } 
}

@media (max-width: 600px) { 
  .author {
    flex-direction: column;
    padding-bottom: 120px;
  }
}