.git__image { 
  margin: 16px 16px 0 0;
  height: 64px;
  width: 64px;
}

@media (max-width: 768px) { 
  .cards__image {
    max-width: 224px;
    margin: 0 0 16px 0;
  } 
}

@media (max-width: 414px) { 
  .cards__image {
    max-width: 288px;
    margin: 0 0 16px 0;
  } 
}