.cards__item {
  /*width: 284px;
  height: 188px;*/
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  background-color: #FFFFFF;
  text-decoration: none;
  transition: box-shadow 0.2s;
}

.cards__item:hover {
  background-color: rgba(8, 29, 45, 0.1);
  backdrop-filter: blur(58px);
  box-shadow: 0 0 15px #000;
}

@media (max-width: 768px) { 
  .cards__item {
    height: 420px;
  } 
}

@media (max-width: 414px) { 
  .cards__item {
    height: 446px;
  } 
}