.git__author {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  margin: 16px 0 2px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
}

@media (max-width: 768px) {
  .git__author {
    font-size: 20px;
    line-height: 30px;
  } 
}