.search__form {
  margin: auto;
  max-width: 584px;
  height: 64px;
  position: relative;
  padding-right: 24px;
}

@media (max-width: 768px) { 
  .search__form {
    margin-top: 24px;
  }
} 

@media (max-width: 414px) { 
  .search__form {
    margin-top: 64px;
    width: 264px;
  } 
}
