.footer__icon {
  width: 24px;
  height: 24px;
  margin: 0px 24px 0 0;
}

.footer__icon:hover {
  background: #C4C4C4;
}

@media (max-width: 700px) { 
  .footer__icon {
    margin: 0px 16px 0 0;
  } 
}