/*.analytics__graphs .analytics__graph:nth-child(1) {
  width: 1%;
}

.analytics__graphs .analytics__graph:nth-child(2) {
  width: 1%;
}

.analytics__graphs .analytics__graph:nth-child(3) {
  width: 1%;
}

.analytics__graphs .analytics__graph:nth-child(4) {
  width: 1%;
}

.analytics__graphs .analytics__graph:nth-child(5) {
  width: 1%;
}

.analytics__graphs .analytics__graph:nth-child(6) {
  width: 1%;
}*/

.analytics__graphs .analytics__graph:nth-child(7) {
  margin: 0 0 16px 0;
}

