.swiper-pagination-bullet {
  position: relative;
}

.swiper-pagination-bullet-active::after {
  background-color: #1A1B22;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 100%;
}