.cards__description {
  flex-grow: 1;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0 24px 18px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
}

.place__paragraph:nth-child(2n) {
  margin-top: 36px;
}

@media (max-width: 768px) { 
  .cards__description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 0 24px 12px 24px; 
  } 
}

@media (max-width: 414px) { 
  .cards__description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 10px 16px 5px 16px; 
  } 
}