@import url('./__link/header__link.css');
@import url('./__title/header__title.css');
@import url('./__link/_selected/header__link_selected.css');
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px 0 104px;
  min-height: 79px;
  /*max-width: 1440px;*/
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) { 
  .header {
    padding: 0 40px 0 40px;
    min-height: 65px;
  } 
}

@media (max-width: 414px) { 
  .header {
    padding: 0 16px 0 16px;
    min-height: 55px;
  } 
}